<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg bg-body-tertiary my-4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Crear usuario', new_user_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
        <a href="<%= export_pdf_users_path(format: :pdf) %>", class="nav-link active">Exportar a PDF</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <%= render 'cities_information' %>
    <button onclick="changeButtonProperties()" class="btn btn-success">Exportar listado JSON</button>
    <textarea rows="20" cols="200" id='json_data', style ='display: none;'></textarea>
</div>